DATABASE_URL="your-postgres-connection-string-here" ## For Neon DB

# Connect to Supabase via connection pooling
DATABASE_URL="your-supabase-connection-string-here"

# Direct connection to the database. Used for migrations
DIRECT_URL="your-supabase-connection-string-here"